:root {
    --bs-body-bg: var(--bs-gray-100);
  }
  
  .kyu {
    width: 100%;
  }
  
  .kyu-1 {
    background-color: #996633;
  }
  
  .kyu-2 {
    background-color: #0099FF;
  }
  
  .kyu-3 {
    background-color: #00FF00;
  }
  
  .kyu-4 {
    background-color: #FF950E;
  }
  
  .kyu-5 {
    background-color: #FFFF00;
  }
  
  .kyu.missing {
    opacity: 0.3;
    cursor: default;
  }
  
  #main {
    padding-top: 1.5em;
  }
  
  p.sources {
    padding-top: 1.5em;
  }
  